@charset "UTF-8";
/* CSS Document */



.listIMG{
	width:300px;
	height:200px;
}

.portfolioList{
	display:flex;
	flex-direction:column;
}


.portfolioItem{
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	/*flex-wrap: wrap;*/
	align-items: center;
	outline:solid;
	max-width:1000px;
}

div.itemDescription{
	flex-grow: 1;
	order:2;
	max-width:700px;
}

div.itemPicture{
	flex-grow: 1;
	order: 1;
	align-self:center;
	outilne:solid;
	outline-color:black;
}


@media (max-width:700px){
	
	.listIMG{
		width:100%;
		height:auto;
	}
	
	.portfolioItem{
		display: flex;
		flex-direction:column;
		justify-content:flex-start;
		flex-wrap: wrap;
		align-items: center;
		outline:solid;
	}
}
@media (min-width:1000px){
	
	div.itemDescription{
		flex-grow: 2;
		order:2;
		max-width:700px;
	}
}