@charset "UTF-8";
/* CSS Document */



nav{
	font-family:courier;
}

div.pageMenu {
	margin-left:25%;
	margin-top: 5%;
	margin-bottom:5% ;

}

.section{
	margin-top:10em;
	margin-bottom:5em;
	margin-left:1em;
	margin-right:1em;
}
.topMenu{
	color:#F1F1F1;
	background-color:#1F1F1F;
	font-family:courier;
}


.article{
	margin-left:10%;
	margin-right:10%;
	margin-top:10em;
	margin-bottom:10em;
	color:Black;
}

div.navMenu{
	margin-top:1em;
	margin-left:10%;
	
	
}

.breadcrumb{
	font-family:courier;
	color:black;
	font-size:2em;
}

.topSide{
	text-align:right;
}

.portfolioList{
	display:flex;
	flex-direction:column;
}


.portfolioItem{
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	flex-wrap: wrap;
	align-items: center;
	outline:solid;
}

.itemDescription{
	flex-grow: 2;
	order:2;
	outline:solid;
}

.itemPicture{
	flex-grow: 1;
	order: 1;
	align-self:center;
	outline:solid;
}

a.pageMenu{ 
	font:bold;
	color:black;
	font-family:courier;
	font-size:20px;
	text-decoration:none;
	/* https://stackoverflow.com/questions/2041388/how-to-remove-the-underline-for-anchorslinks */
}

img { 
	width:100%;
	height:auto;
}

p{ 
	font-family:arial;
	font-size:1em;
	margin-left:10%;
	margin-right:10%;
}

h1{
	font-family:courier;
	font-size:2em;
}

h2{
	font-family:courier;
	fontsize:1.75em
}

h3 {
	font-family:courier;
	font-size:1.5em;
	
}

h4 {
	font-family:courier;
	font-size:1.25em;
}

@media (min-width:1000px){
	
	.article{
		margin-left:50px;
		width:800px;
		margin-top:10em;
		margin-bottom:20em;
		color:Black;
	}
	
	img{
		max-height:1000px;
		width:auto;
	}
	
	p{
		margin-left:3em;
		width:800px;
		
	}
}

@media (max-width:700px){
	
	.article{
		margin-left:5%;
		margin-right:5%;
		margin-top:2em;
		margin-bottom:5em;
		color:Black;
	}
	
	.portfolioItem{
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	flex-wrap: wrap;
	align-items: center;
	outline:solid;
}

}

/* https://www.w3schools.com/css/css3_mediaqueries.asp */
